.btn-full
{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 60px;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

#trackingResult {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Styles for the tracking table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e67e22;
    color: #fff;
}

/* Center-align the table */
.tracking table {
    margin: 0 auto;
}

/* Center-align the tracking result text */
#trackingResult {
    text-align: center;
}
